.filter{
  padding-bottom: 28px;
  &__container{
  color: white;


  }

  &__title{
  line-height: 40px;

  }
  &criteria{

  }
  &__criterion{
    line-height: 36px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    &:hover{
      color: white;
    }
  }


}