@import '../../../../assets/scss/mixins.scss';
@import '../../../../assets/scss/variables.scss';
.copyrights{
  &__container{
    padding: 24px 0px 40px;
    @include flex(center,none)
  }

  &__description{
    flex-grow: 2;
    color: $gray-secondary;
    font-size: $base-font-size;
  }

  &__owner{
    @include flex(center,end);
    flex-direction: row;

    &-image{
      width: 40%;
    }
  }
}
