@import '@assets/scss/mixins.scss';
@import '@assets/scss/variables.scss';
.copyrights {
  &__container {
    @include flex(center, space-between);
    padding: 24px 0 40px;
  }

  &__description {
    color: $gray-secondary;
    font-size: $base-font-size;
    width: 50%;
  }

  &__owner {
    @include flex(center, flex-end);
    flex-direction: row;

    &-image {
      width: 10%;
    }
  }
}
