@import '@assets/scss/mixins.scss';
.product-list {
  @include flex(none, center);
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.25rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 810px) {
  .product-list {
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem 1.5rem;
    }
  }
}
