@import '@assets/scss/mixins.scss';
@import '@assets/scss/variables.scss';

.header {
  width: 100%;
  position: relative;
  font-size: $font-size--xl;
  overflow: visible;

  &__container {
    @include flex(center, space-between);
    height: 4.625rem;
    padding: 1rem 1.5rem;
    background: $gradient-background--light;
  }

  &-navigation {
    @include flex(center, flex-start);
    height: 2.125rem;
    width: calc(100% / 3);

    &__logo {
      &-img {
        @include logo_icon;
        border: $medium-key-line $gray-primary;
      }
      &:hover {
        @include zoom_animation;
      }
    }
    &__links {
      margin-left: 1.5rem;
      line-height: 1.5rem;
      font-weight: $font-weight--base;
      &-item {
        margin-left: 1rem;
        color: $gray-secondary;
        font-weight: $font-weight--semibold;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &--active {
          color: black;
        }
        &:hover {
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  &-search {
    width: calc(100% / 3);
    overflow: hidden;
    border-radius: 1rem 1rem 1rem 1rem;
    &__container {
      @include flex(center, space-between);
      background-color: white;
    }
    &__input {
      height: 2.5rem;
      width: 16.875rem;
      padding: 0.5rem 2.5rem 0.5rem 0.75rem;
      color: $gray-primary;
      font-size: 100%;
      border: none;
      transition: all 0.3s ease-in-out;

      &:focus {
        outline: none;
        color: $gray-primary;
      }
    }

    &__icon {
      color: black;
      font-size: $font-size--xl;
      margin-right: 0.75rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-checkout {
    position: relative;
    @include flex(none, space-between);
    width: calc(100% / 3);
    margin-left: 1.875rem;
    z-index: 10;
    &__container {
      justify-self: flex-end;
      @include flex(center, space-between);
      width: 6.25rem;
      padding-left: 1rem;
    }
    &__cart {
      &-container {
        position: relative;
        display: flex;
        flex-direction: row;
      }
      &-icon {
        height: 1.375rem;
        width: 1.5rem;
        &--active {
          stroke: white;
        }
        &:hover {
          @include zoom_animation;
        }
      }

      &-amount {
        @include flex(center, center);
        @include circle(10.5rem, 10.5rem);
        position: absolute;
        bottom: -0.5rem;
        left: -0.5rem;
        border: $thin-key-line $gray-primary;
        background-color: white;
        font-size: $base-font-size;
        font-weight: $font-weight--semibold;
        color: black;
      }

      &-detail {
        position: absolute;
        z-index: 1;
      }
    }

    &__avatar {
      z-index: 15;
      &-img {
        @include logo_icon;
        border: $thin-key-line white;
        &:hover {
          @include zoom_animation;
        }
      }
    }

    &__close {
      @include flex(center, center);
      z-index: 5;
      &-tag {
        justify-self: start;
        @include flex(center, flex-start);
        color: white;
        &-icon {
          font-size: $font-size--xxl;
          color: white;
          stroke: white;
          &:hover {
            cursor: pointer;
          }
        }
        &--hidden {
          display: none;
        }
      }
    }
  }
  &__cart-detail {
    position: absolute;
    top: 2.5rem;
    right: 0;
    z-index: 30;
    &--hidden {
      display: none;
    }
  }
  &__login {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    &--hidden {
      display: none;
    }
    &-container {
      @include flex(center, center);
      height: 100%;
      width: 100%;
    }
  }
}
