@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.shopping {
  @include flex(none, center);
  &__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 40px;
  }

  &__products {
    @include flex(none, flex-start);
    flex-direction: column;
    min-width: $min-width-container--extra-large;
    padding: 0 30px 50px 0;
  }

  &__criteria {
    &--left {
      @include flex(flex-start, none);
      flex-direction: column;
    }
  }
}
.result__container {
  margin: 0 0 48px;
  font-size: $font-size--xxl;
}
