@import '@assets/scss/mixins.scss';
@import '@assets/scss/variables.scss';

.shopping {
  @include flex(none, center);
  background: $gradient-background--light;

  &__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 2.5rem;
    padding: 1.25rem 1.5rem;
    background: $gradient-background--light;
  }

  &__products {
    @include flex(none, flex-start);
    flex-direction: column;
    min-width: $min-width-container--extra-large;
    padding: 0 0 3.125rem 0;
  }

  &__criteria {
    &--left {
      @include flex(flex-start, none);
      flex-direction: column;
    }
  }
  &__result {
    &-container {
      margin: 0.625rem 0 1.875rem;
      font-size: $font-size--xxl;
    }
  }
}

@media screen and (max-width: 810px) {
  .shopping {
    &__container {
      padding: 1.25rem 0;
      grid-gap: 0.4rem;
    }
    &__products {
      min-width: fit-content;
    }

    &__result {
      &-container {
        padding: 0 1.5rem;
      }
    }
  }
}
