@import '../../assets/scss/mixins.scss';

.shopping {
  @include flex(none, center);
  &__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 40px;
    margin: 24px 0px;
  }

  &__products {
    @include flex(none, center);
    margin: 0 30px 50px;
    min-width: 808px;
  }

  &__criteria {
    &--left {
      @include flex(start, none);
      flex-direction: column;
    }
  }
}
