.filter {
  padding-bottom: 40px;
  &__container {
    color: white;
  }

  &__title {
    line-height: 40px;
  }
  &__criteria {
  }
  &__criterion {
    color: rgb(102, 102, 102);
    line-height: 36px;
    font-size: 14px;
    &:hover {
      color: white;
    }
  }
}
