@import '@assets/scss/mixins.scss';
@import '@assets/scss/variables.scss';

.selection {
  padding: 0 0 1rem;
  &__list {
    @include flex(center, flex-start);
    padding: 1rem 0;
  }
  &__item {
    @include flex(center, center);
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem 0 0;
    padding: 0 0.625rem;
    border: $gray-primary 0.625rem solid;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    &:hover {
      @include zoom_animation;
    }
    &--active {
      border: white 0.125rem solid !important;
      background: $gradient-background--primary;
    }
  }
  &-color {
    background: black;
    &--white {
      background: white !important;
    }
    &--black {
      background: black !important;
    }
    &--gray {
      background: $gray-primary !important;
    }
    &--blue {
      background: $blue-primary !important;
    }
    &--orange {
      background: $orange-primary !important;
    }
    &--green {
      background: $green-primary !important;
    }
    &--beige {
      background: $beige-primary !important;
    }
  }
  &__selected-item {
    background-color: transparent;
    color: white;
    font-size: $font-size--xxl;
    &--black {
      color: white;
    }
  }
}
