@import '../../../../assets/scss/variables.scss';

.filter {
  padding-bottom: 40px;
  display: block;
  line-height: 36px !important;
  font-size: $base-font-size !important;
  &__container {
    color: white;
  }

  &__title {
    line-height: 40px;
  }

  &__criterion {
    text-decoration: none;
    color: $gray-dark !important;

    &--active {
      color: $gray-dark !important;
      text-decoration: underline solid 1px;
    }
    &:hover {
      color: white !important;
      cursor: pointer;
    }
  }
}

.removed_underline {
  text-decoration: none !important;
}
