.filter {
  padding-bottom: 40px;
  &__container {
    color: white;
  }

  &__title {
    line-height: 40px;
  }
  &__criteria {
  }
  &__criterion {
    display: block;
    color: rgb(102, 102, 102);
    line-height: 36px;
    font-size: 14px;
    text-decoration: none;
    &:hover {
      color: white !important;
      cursor: pointer;
    }
  }
}

.active {
  text-decoration: underline solid 1px;
  color: rgb(102, 102, 102) !important;
}
.removed_underline {
  text-decoration: none !important;
}