@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.loading {
  &-list {
    @include flex(none, center);

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.25rem;
      margin-bottom: 1.5rem;
      box-sizing: border-box;
    }
  }
  &__container {
    position: relative;
    min-width: $min-width-container--small;
    min-height: $min-heigh-container--small;
    background-image: $gradient-background--blue;
    background-size: 300% 300%;
    animation: AnimateBG 2s ease infinite;
  }

  &-animation {
    background-image: $gradient-background--primary;
    background-size: 300% 300%;
    animation: AnimateBG 2s ease infinite;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
