@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.login {
  @include flex(center, center);

  &__container {
    @include flex(center, center);
    flex-direction: column;
    width: 60vh;
    background: $gradient-background--primary;
    border-radius: 0.5rem;
  }
  &__close-tag {
    align-self: flex-end;
    padding: 0.5rem 0.8rem 0 0;
    font-weight: $font-weight--bold;
    color: $violet-dark;
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    padding: 0.5rem 0 1rem;
    background-color: transparent;
    color: white;
  }
  &__logo {
    > img {
      @include logo_icon--large;
    }
  }
  &__form {
    @include flex(center, center);
    flex-direction: column;
    &-item {
      @include flex(flex-start, center);
      flex-direction: column;
      width: 100%;
      padding: 0 0 0.3rem 0;

      &-label {
        padding: 8px 0;
        background-color: transparent;
        color: white;
        font-size: $font-size--xl;
      }

      &-input {
        width: 50vh;
        padding: 0.5rem;
        border: none;
        border: $medium-key-line black;
        background-color: transparent;
        color: white;
        font-size: $base-font-size;
        border-radius: 0.3rem;
        &::placeholder {
          color: $gray-light;
          font-style: italic;
        }
      }

      &--error {
        padding-top: 0.3rem;
        background-color: transparent;
        color: $error-color;
        font-size: $font-size--xl;
      }
    }
    &-button {
      width: 100%;
      padding: 10px 0;
      margin-top: 1rem;
      border-radius: 0.3rem;
      border: none;
      color: black;
      font-size: $font-size--xl;
      font-weight: $font-weight--semibold;
      background-color: white;
      &:hover {
        cursor: pointer;
        background-color: $violet;
        color: white;
      }
    }
    &-option {
      padding: 1rem 0;
      > span:first-child {
        padding-right: 0.5rem;
        font-style: italic;
        font-size: $font-size--xl;
        color: $gray-light;
      }
      &-link {
        text-decoration: none;
        font-size: $font-size--xl;
        font-weight: $font-weight--bold;
        color: $violet-dark;

        &:hover {
          cursor: pointer;
          color: $violet;
        }
      }
    }
    &-submit {
      &-result {
        @include flex(center, flex-start);
        width: 100%;
        padding: 1rem 0 0 0;
        &-status {
          &--error {
            color: red;
          }

          &--success {
            color: $success-color;
          }
        }

        &-message {
          &--success {
            padding-left: 0.5rem;
            color: $success-color;
          }
          &--error {
            padding-left: 0.5rem;
            color: $error-color;
          }
        }
      }
    }
  }
}
