@import '@assets/scss/variables.scss';
@import '@assets/scss/mixins.scss';

.cart {
  &__container {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: auto;
    min-height: 100vh;
    padding: 0 1.5rem;
    color: white;
    background: $gradient-background--primary;
  }

  &__header {
    padding: 0.75rem 0 0.5rem;
    margin: 0 0 0.5rem;
  }

  &__list {
    @include flex(flex-start, none);
    flex-direction: column;
    min-height: 60vh;
  }
  &__item {
    @include flex(center, space-between);
    flex-direction: row;
    padding: 1rem 0;
    width: 100%;
    font-size: $base-font-size;
<<<<<<< HEAD
    &-image > img {
      width: 4rem;
      height: 4rem;
      background-color: $violet;
=======
    &-image {
      &-img {
        width: 64px;
        height: 64px;
        background-color: $violet;
      }
>>>>>>> f1b89a9aee710ada6509aed42ffb3559bdd879a8
    }
    &-info {
      width: calc(100% / 3 * 2);
      padding: 0 0.5rem;
      &-size,
      &-color {
        display: inline-block;
        width: 30%;
        padding: 0 0.5rem 0 0;
        > div {
          float: right;
          margin-right: 0.625rem;
        }
      }

      &-quantity {
        @include flex(center, space-evenly);
        padding: 0.375rem 0.625rem;
        &-increase,
        &-decrease {
          @include flex(center, center);
          @include circle(1.25rem, 1.25rem);
          background-color: black;
          border: $thin-key-line $gray-primary;
          font-weight: $font-weight--bold;
          cursor: pointer;
        }
      }
    }
  }

  &__checkout {
    justify-self: end;
    border-top: $thin-key-line $gray-primary;

    &-container {
      padding: 1.5rem 0;
    }

    &-item {
      @include flex(center, space-between);
      padding: 0 0.25rem;
      line-height: 1.25rem;
    }

    &-total {
      padding: 0.875rem 0;
      margin: 0.75rem 0 0.5rem;
      border-top: $thin-key-line $gray-primary;
      font-weight: $font-weight--bold;
      font-size: $font-size--xl;
    }

    &-button {
      @include flex(center, center);
      padding: 1.25rem 2.5rem;
      background-color: white;
      font-weight: $font-weight--bold;
      > a {
        text-decoration: none;
        background-color: inherit;
        color: black;
      }
    }
  }

  &__empty {
    &-container {
      @include flex(center, center);
      flex-direction: column;
      height: 100vh;
      background-color: transparent;
    }

    &-image {
      width: 90.5rem;
      height: 90.5rem;
      @include flex(center, center);
      border-radius: 50%;
      background-color: white;
      &-icon {
        background-color: transparent;
<<<<<<< HEAD
        stroke: black !important;
        width: 1.56rem;
        height: 1.56rem;
=======
        stroke: black;
        width: 25px;
        height: 25px;
>>>>>>> f1b89a9aee710ada6509aed42ffb3559bdd879a8
      }
    }
    &-title {
      padding: 1.5rem 0 0;
      background-color: transparent;
      color: white;
    }
    &-message {
      padding: 0.5rem 2.5rem 0;
      text-align: center;
      color: black;
      background-color: transparent;
    }
  }
<<<<<<< HEAD
}
.circle {
  @include flex(center, center);
  @include circle(1.25rem, 1.25rem);
  border: $thin-key-line $gray-primary;
  background-color: black;
  color: white;

  &--white {
    background-color: white;
  }
  &--black {
    background-color: black !important;
  }
  &--gray {
    background-color: $gray-primary !important;
  }
  &--blue {
    background-color: $blue-primary !important;
  }
  &--orange {
    background-color: $orange-primary !important;
  }
  &--green {
    background-color: $green-primary !important;
  }
  &--beige {
    background-color: $beige-primary !important;
=======
  &__selected-circle {
    @include flex(center, center);
    @include circle(20px, 20px);
    border: $thin-key-line $gray-primary;
    color: white;
    @include modified_color;
>>>>>>> f1b89a9aee710ada6509aed42ffb3559bdd879a8
  }
}
