$base-font-size: 14px;
$font-size--xl: 16px;
$font-size--xxl: 18px;
$font-size--xxxl: 32px;

$font-weight--bold: 700;
$font-weight--semibold: 600;
$font-weight--base: 500;

$gray-primary: #888;
$gray-secondary: #999999;
$gray-dark: rgb(102, 102, 102);
$gray-light: #e5e7eb;
$gray-background: #43434375;
$gray-gradient: linear-gradient(
  90deg,
  rgb(0, 0, 0) 0%,
  rgb(70, 70, 70) 25%,
  rgb(153, 153, 153) 51%,
  rgb(0, 0, 0) 100%
) !important;

$purple-primary: #7928c1;
$violet: #7928ca;
$violet-dark: #4c2889;
$blue-primary: rgb(0, 206, 209);

$orange-primary: rgb(255, 160, 122);

$icon-height--large: 32px;
$icon-width--large: 32px;
$icon-height--small: 24px;
$icon-width--small: 24px;

$medium-key-line: 1px solid;
$thin-key-line: 0.2px solid;

$min-width-container--small: 256px;
$min-heigh-container--small: 256px;
$min-width-container--extra-large: 808px;
