$base-font-size: 14px;
$font-size--xl: 16px;
$font-size--xxl: 18px;
$font-size--xxxl: 32px;

$font-weight--bold: 700;
$font-weight--semibold: 600;
$font-weight--base: 500;

$orange-primary: #ec8b54;
$gray-primary: #888;
$gray-secondary: #999999;
$gray-dark: rgb(102, 102, 102);
$gray-light: #e5e7eb;
$gray-background: #43434375;
$gray-gradient: linear-gradient(
  90deg,
  rgb(0, 0, 0) 0%,
  rgb(70, 70, 70) 25%,
  rgb(153, 153, 153) 51%,
  rgb(0, 0, 0) 100%
) !important;
$gradient-background--primary: linear-gradient(90deg, #654ea3 0%, #eaafc8 100%) !important;
$gradient-background--secondary: linear-gradient(90deg, #3c1053 0%, #ad5389 100%) !important;
$gradient-background--light: linear-gradient(90deg, #d3cce3 0%, #e9e4f0 100%) !important;
$gradient-background--blue: linear-gradient(90deg, #d3cce3 0%, #64468f 100%) !important ;

$pink-primary: #b565a7;
$purple-primary: #7928c1;
$violet: #85388d;
$violet-dark: #4c2889;
$blue-primary: rgb(0, 206, 209);

$orange-primary: rgb(255, 160, 122);
$green-primary: rgb(85, 107, 47);
$beige-primary: rgb(245, 245, 220);
$error-color: rgb(116, 21, 21);
$success-color: rgb(106, 255, 106);
$icon-height--large: 80px;
$icon-width--large: 80px;
$icon-height: 32px;
$icon-width: 32px;
$icon-height--small: 24px;
$icon-width--small: 24px;

$medium-key-line: 1px solid;
$thin-key-line: 0.2px solid;

$min-width-container--small: 256px;
$min-heigh-container--small: 256px;
$min-width-container--extra-large: 808px;
